# Q1

In [1]:
import statistics
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort(reverse = False)
print('ages=',ages)
minmax = []
minmax.append(min(ages))
minmax.append(max(ages))
print('max_value and min_value =',minmax)
ages.insert(1,19)
ages.insert(12,26)
print('add again min,max values to the list=',ages)
print('median_ages =',statistics.median(ages))
print('mean or avg_ages =',statistics.mean(ages))
range = max(ages)-min(ages)
print('Range =',range)

ages= [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
max_value and min_value = [19, 26]
add again min,max values to the list= [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
median_ages = 24.0
mean or avg_ages = 22.75
Range = 7

# Q2

In [3]:
Dog = {}
Dog = {"Name": "goldenretriever", "legs": 4, "color": "gold", "age": 12}
print(Dog)
Std_dict = {"first_name":'shiny',"last_name":'sherly',"gender":'female',"age":'21',"marital status":'single',"skills":'dancing,cooking,singing',"country":'india',"city":'vjw'}
print(Std_dict)
print('length_dict =',len(Std_dict))
print(type('skills'))
print('skills=',Std_dict["skills"])

{'Name': 'goldenretriever', 'legs': 4, 'color': 'gold', 'age': 12}
{'first_name': 'shiny', 'last_name': 'sherly', 'gender': 'female', 'age': '21', 'marital status': 'single', 'skills': 'dancing,cooking,singing', 'country': 'india', 'city': 'vjw'}
length_dict = 8
<class 'str'>
skills= dancing,cooking,singing

# Q3

In [4]:
bro=('tony','chotu')
sis=('chinnu','fanny','nivvi')
siblings = bro+sis
print('siblings_names=',siblings)
print('count=',len(siblings))
dm_name = ('purushotham','aruna')
print('father,mother=',dm_name)
family_members = dm_name+siblings
print('familymembers=',family_members)

siblings_names= ('tony', 'chotu', 'chinnu', 'fanny', 'nivvi')
count= 5
father,mother= ('purushotham', 'aruna')
familymembers= ('purushotham', 'aruna', 'tony', 'chotu', 'chinnu', 'fanny', 'nivvi')

# Q4

In [5]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'} 
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print(len(it_companies))
it_companies.add('twitter')
print(it_companies)
it_companies.update(['capgemini','accenture','cognizant'])
print(it_companies)
it_companies.remove('Oracle')
print(it_companies)
print(A|B)
print(A&B)
print(A.issubset(B))
print(A.isdisjoint(B))
C=A.union(B)
print(C)
print(A^B)
len(age)

7
{'Microsoft', 'Apple', 'Google', 'IBM', 'twitter', 'Oracle', 'Amazon', 'Facebook'}
{'Microsoft', 'cognizant', 'capgemini', 'twitter', 'Oracle', 'Amazon', 'accenture', 'Facebook', 'Apple', 'Google', 'IBM'}
{'Microsoft', 'cognizant', 'capgemini', 'twitter', 'Amazon', 'accenture', 'Facebook', 'Apple', 'Google', 'IBM'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}

8

# Q5

In [6]:
r_circle = int(input('enter radius:'))
_area_of_circle = 3.14*r_circle*r_circle
_circumfrence_of_circle = 2*3.14*r_circle
print('area of circle =',_area_of_circle)
print('circumfrence of circle =',_circumfrence_of_circle)

enter radius:30
area of circle = 2826.0
circumfrence of circle = 188.4

# Q6

In [8]:
sen = "I am a teacher and I love to inspire and teach people"

uni = set(sen.split(" "))
print(uni)
print('number_unq_words =',len(uni))

{'and', 'teach', 'people', 'teacher', 'love', 'to', 'a', 'inspire', 'I', 'am'}
number_unq_words = 10

# Q7

In [9]:
qn = "Name""\tAge" "\tCountrycity""\nAsabeneh""\t250""\tFinland Helsinki"
print(qn)

Name	Age	Countrycity
Asabeneh	250	Finland Helsinki

# Q8

In [10]:
radius = 10
area = 3.14*radius**2

print("radius = {}".format(radius))
print("area = 3.14*radius**2")
print('The area of a cricle with radius {} is {} meters square'.format(radius,area))

radius = 10
area = 3.14*radius**2
The area of a cricle with radius 10 is 314.0 meters square

# Q9

In [ ]:
weights=input()
L1=weights.split()
#print('weights=',L1)
kgs=[]
for i in L1:
    kgs.append((int(i)*0.45));
print('kgs=',kgs)